/Oppgave2_1/nbproject/private/
/Oppgave2_1/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/dist/
/JavaFXApplication1/build/
/Oppgave2_5/nbproject/private/
/Oppgave2_5/build/
/Oppgave2_6/nbproject/private/