/Oppgave2_1/nbproject/private/
/Oppgave2_1/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/dist/
/JavaFXApplication1/build/
/Oppgave2_5/nbproject/private/
/Oppgave2_5/build/
/Oppgave2_6/nbproject/private/
/Oppgave2_6/build/
/Oppgave2_6/dist/
/Oppgave2_7/nbproject/private/
/Oppgave2_7/build/
/Oppgave3_1/nbproject/private/
/Oppgave3_1/build/
/Oppgave3_2/nbproject/private/
/Oppgave3_2/build/
/Oppgave3_4/nbproject/private/
/Oppgave3_4/build/
/Oppgave4_1/nbproject/private/
/Oppgave4_1/build/